In [11]:
import pandas as pd

In [17]:
states = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-states.csv')
states

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
1549  2020-03-30       Virginia    51   1021      26
1550  2020-03-30     Washington    53   5179     221
1551  2020-03-30  West Virginia    54    145       1
1552  2020-03-30      Wisconsin    55   1267      20
1553  2020-03-30        Wyoming    56     95       0

[1554 rows x 5 columns]

In [19]:
ny = states[states['state'] == 'New York']
ny

            date     state  fips  cases  deaths
246   2020-03-01  New York    36      1       0
261   2020-03-02  New York    36      1       0
276   2020-03-03  New York    36      2       0
293   2020-03-04  New York    36     11       0
313   2020-03-05  New York    36     22       0
338   2020-03-06  New York    36     44       0
369   2020-03-07  New York    36     89       0
404   2020-03-08  New York    36    106       0
440   2020-03-09  New York    36    142       0
478   2020-03-10  New York    36    173       0
521   2020-03-11  New York    36    217       0
568   2020-03-12  New York    36    326       0
618   2020-03-13  New York    36    421       0
669   2020-03-14  New York    36    610       2
722   2020-03-15  New York    36    732       6
775   2020-03-16  New York    36    950      10
828   2020-03-17  New York    36   1374      17
882   2020-03-18  New York    36   2382      27
936   2020-03-19  New York    36   4152      30
990   2020-03-20  New York    36   7102      57
1044  2020-03-21  New York    36  10356      80
1098  2020-03-22  New York    36  15168     122
1152  2020-03-23  New York    36  20875     159
1206  2020-03-24  New York    36  25665     218
1260  2020-03-25  New York    36  33066     325
1314  2020-03-26  New York    36  38987     432
1368  2020-03-27  New York    36  44635     535
1422  2020-03-28  New York    36  53363     782
1477  2020-03-29  New York    36  59568     965
1532  2020-03-30  New York    36  67174    1224

In [24]:
ny['daily_cases'] = ny['cases'].diff()
ny['daily_deaths'] = ny['deaths'].diff()
ny = ny.fillna(0)

/Users/wangelbert/.local/share/virtualenvs/second-python-notebook-ruXsh9ZE/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/Users/wangelbert/.local/share/virtualenvs/second-python-notebook-ruXsh9ZE/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [25]:
ny.to_csv('../output/ny.csv', index=False)